/client-post-json-to-server/target/classes/com/vomtung/controller/IndexController.class
/client-post-json-to-server/target/classes/com/vomtung/entity/Product.class
/client-post-json-to-server/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/client-post-json-to-server/target/m2e-wtp/web-resources/META-INF/maven/client-post-json-to-server/client-post-json-to-server/pom.properties
/client-post-json-to-server/target/m2e-wtp/web-resources/META-INF/maven/client-post-json-to-server/client-post-json-to-server/pom.xml
